<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars list</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        thead {
            background: #f5e8d0;
        }
        td {
            padding: 5px;
            border: 1px solid #333;
        }
        tbody tr:nth-child(even) {
            background: #f0f0f0;
        }
    </style>
</head>

<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Model</th>
        <th>Series</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car, iterStat : ${someCars}"
        th:style="${iterStat.odd}? 'font-weight: bold;'">
        <td th:text="${car.id}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.series}"></td>
    </tr>
    </tbody>
</table>
<br/>
</body>
</html>